{% extends 'CoreProjectBundle::layout.html.twig' %}

{% block content %}
    <div id="confirm">
        <h2>Confirm</h2>

        <div class="description">
            Are you sure to remove this {{ element_type|default('element') }}:
            <ul>
                {% for key, value in element|array if not (value starts with 'resource of') %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="buttons">
            <a href="" class="icon-success icon-only">OK</a>
            <a href="" class="icon-error icon-only">Cancel</a>
        </div>
    </div>
{% endblock %}