{% extends app.layout(_self) %}

{% block content %}
    <section id="daemon-edit">
        <h2>Daemon {% if edit_mode %}edition{% else %}creation{% endif %}</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="button_row">
            <button type="reset" class="icon-error icon-only">Reset</button>
            <button type="submit" class="icon-success icon-only">Submit</button>
        </div>
        {{ form_end(form) }}
    </section>

    {% if not app.isPopin %}
        <section class="list">
            <h3>Daemons</h3>
            {% include 'CoreProjectBundle:Admin:daemons_list.html.twig' with {'currentDaemon': name} only %}
        </section>
    {% endif %}
{% endblock %}