{% extends 'CoreProjectBundle:Admin:list.html.twig' %}

{% block content %}
    {{ parent() }}

    <section id="project-edit">
        <h2>Project {% if edit_mode %}edition{% else %}creation{% endif %}</h2>
        {{ form(form) }}
    </section>
{% endblock %}