{% extends 'CoreProjectBundle:Admin:list.html.twig' %}

{% block projects %}{% endblock %}

{% block environments %}
    {{ parent() }}

    <section id="environment-edit">
        <h2>Environment {% if edit_mode %}edition{% else %}creation{% endif %}</h2>
        {{ form(form) }}
    </section>
{% endblock %}