{% extends app.layout(_self) %}

{% block content %}
    <h2>List</h2>
    {% include 'CoreProjectBundle:Admin:projects_list.html.twig' with {} only %}
    {% include 'CoreProjectBundle:Admin:domains_list.html.twig' with {} only %}
    {% include 'CoreProjectBundle:Admin:daemons_list.html.twig' with {} only %}
    {% include 'CoreProjectBundle:Admin:links_list.html.twig' with {'links': links} only %}

    <h3>Daemons</h3>
    {% include 'CoreProjectBundle:Admin:daemons_list.html.twig' with {} only %}
{% endblock %}