# Cache and logs
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/config/parameters.yml
/app/bootstrap.php.cache
/app/phpunit.xml

# Managed by Composer
/vendor/

# Assets and user uploads
/web/bundles/

# Build data
/build/

# PHPStorm
/.idea/