{% extends 'eZPublishBundle::layout.html.twig' %}

{% block content %}
    <h2>
        Fonctionnalitées
    </h2>

    <ul>
        <li>
            <a href="{{ path('ezpublish_right') }}">Right</a>
        </li>
    </ul>

{% endblock %}
