{% if route is not defined %}
    {% set route = app.masterRequest.attributes.get('_route') %}
    {% set params = params|default({})|merge(app.masterRequest.attributes.get('_route_params')) %}
{% endif %}
<ul>
    {% for domain in app.domains if not app.project or app.project in domain.getProjects() %}
        {% set params = params|default({})|merge({'@domain': domain.name}) %}
        <li{% if app.domain == domain %} class="selected"{% endif %}>
            <a href="{{ path(route, params) }}" class="icon-{{ domain.logo|default('no') }}">{{ domain.label }}</a>
        </li>
    {% endfor %}
</ul>