{% if route is not defined %}
    {% set route = app.masterRequest.attributes.get('_route') %}
    {% set params = params|default({})|merge(app.masterRequest.attributes.get('_route_params')) %}
{% endif %}
<ul>
    {% for environment in app.environments if not app.project or app.project in environment.getProjects() %}
        {% set params = params|default({})|merge({'@environment': environment.name}) %}
        <li class="{{ environment.logo|default() }}{% if app.environment == environment %} selected{% endif %}">
            <a href="{{ path(route, params) }}">{{ environment.label }}</a>
        </li>
    {% endfor %}
</ul>