{% extends 'CoreProjectBundle::layout.html.twig' %}

{% block content %}
    <section id="projects">
        <h2>Projects list</h2>
        {% include 'CoreProjectBundle:Default:projects_list.html.twig' with {'route': 'core_project_default'} only %}
    </section>

    <section id="domains">
        <h2>Domains list</h2>
        {% include 'CoreProjectBundle:Default:domains_list.html.twig' with {'route': 'core_project_default'} only %}
    </section>
{% endblock %}