{% extends 'CoreProjectBundle::layout.html.twig' %}

{% block content %}
    <section id="default-projectlist">
        <h2>Projects</h2>

        <div>Name : {{ app.project.label }}</div>
    </section>
{% endblock %}