{% if route is not defined %}
    {% set route = app._route %}
    {% set params = app._route_params(params|default({})) %}
{% endif %}
{% set projects = app.domain.projects|default(app.projects) %}
{% if nofilter|default %}
    {% set projects = app.projects %}
{% endif %}
<ul class="projects">
    {% for project in projects %}
        {% set params = params|default({})|merge({'@project': project.name}) %}
        <li{% if app.project == project %} class="selected"{% endif %}>
            <a href="{{ path(route, params) }}" class="icon-{{ project.logo|default('no') }}">{{ project }}</a>
        </li>
    {% endfor %}
</ul>