#breadcrumb li {
    display: inline-block;
}

#breadcrumb li:after {
    content: "»";
}

#breadcrumb li:last-child:after {
    content: "";
}

#breadcrumb a {
    padding: 0 1rem 0 0.8rem;
    display: inline-block;
}

#breadcrumb a:hover {
    background-color: transparent;
}

#breadcrumb a:before {
    font-size: 1.7rem;
}

#breadcrumb li:first-child a {
    font-size: 0;
}

#breadcrumb li:first-child a:before {
    margin-right: 0;
}

/*#breadcrumb li:first-child a:before {*/
    /*font-size: 1.4rem;*/
/*}*/

/*.icon-only, .inputicon input + label {*/
    /*font-size: 0em;*/
    /*letter-spacing: -0.2em;*/
/*}*/

/*.icon-only:before {*/
    /*font-size: 1.4rem;*/
/*}*/

