body {
    background-image: url('../images/background-dark.jpg');
}

body > header, body > header a, body > header a:before,
body > aside, body > aside a, body > aside a:before {
    color: white;
}

body > header a, body > aside a {
    text-decoration: none;
}

body > header a:hover, body > header a:hover:before,
body > aside a:hover, body > aside a:hover:before {
    color: #9ed0ff;
}

body nav a:hover, body nav a:focus,
body nav a:active, body nav .selected a {
    background-color: darkgoldenrod;
    mix-blend-mode: hard-light;
}

@media (max-width: 640px) {
    body > header nav ul {
        background: url('../images/background-dark.jpg');
    }
}

@media (max-width: 640px) {
    body > aside nav {
        background: url('../images/background-dark.jpg');
    }
}

body > aside nav select {
    width: 100%;
}

body > main {
    background-color: #ffffff;
}

body > footer {
    text-align: right;
}

body > footer, body > footer a,
body > footer a:before {
    color: white;
}

body > footer a:hover, body > footer a:hover:before {
    color: #9ed0ff;
}

h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

h2 [class^="icon-"]:before, #main h2 [class*=" icon-"]:before {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

h3 [class^="icon-"]:before, #main h3 [class*=" icon-"]:before {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

h4 [class^="icon-"]:before, #main h4 [class*=" icon-"]:before {
    font-size: 1rem;
}

form {
    margin-left: 3rem;
}

form > div > div {
    margin: 0.5rem;
}

form label {
    display: inline-block;
    width: 10rem;
    margin-top: 0;
}

#main {
    margin: 1rem;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: black;
    opacity: 0.25;
    display: none;
}

.hide {
    display: none;
}