/* Responsive Navigation styles begin here */
@media (max-width: 640px) {
    /* Theming opened nav */
    body > header nav ul {
        -webkit-transform: translateY(0) translateZ(0);
        -ms-transform: translateY(0) translateZ(0);
        transform: translateY(0) translateZ(0);
        -webkit-transition: -webkit-transform .5s cubic-bezier(.72, .89, .28, 1.39);
        transition: transform .5s cubic-bezier(.72, .89, .28, 1.39);
        will-change: transform;
    }

    /* Theming closed main nav */
    body > header nav:not(.main-opened) ul {
        -webkit-transform: translateY(-30rem) translateZ(0);
        -ms-transform: translateY(-30rem) translateZ(0);
        transform: translateY(-30rem) translateZ(0);
        /* number of links x5 */
    }

    /* Theming opened sub nav */
    body > aside {
        -webkit-transform: translateX(0) translateZ(0);
        -ms-transform: translateX(0) translateZ(0);
        transform: translateX(0) translateZ(0);
        -webkit-transition: -webkit-transform .5s cubic-bezier(.72, .89, .28, 1.39);
        transition: transform .5s cubic-bezier(.72, .89, .28, 1.39);
        will-change: transform;
    }

    /* Theming closed sub nav */
    body > aside:not(.sub-opened) {
        -webkit-transform: translateX(30rem) translateZ(0);
        -ms-transform: translateX(30rem) translateZ(0);
        transform: translateX(30rem) translateZ(0);
    }

    /* Global styling nav button */
    body > header nav > button {
        height: 3rem;
        width: 3rem;
        background-color: transparent;
        padding: 0;
        outline: 0;
        border: 1px solid white;
        border-radius: 50%;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-transition: -webkit-transform .2s;
        transition: transform .2s;
        margin: 1rem;
    }

    /*  Removing Firefox's dotted outline on button */
    body > header nav > button::-moz-focus-inner {
        border: 0;
    }

    body > header nav > button::after,
    body > header nav > button::before {
        content: "";
        position: absolute;
        background-color: white;
        border-radius: 10px;
        -webkit-transition: -webkit-transform .2s;
        transition: transform .2s;
    }

    body > header nav > button::before {
        height: 2rem;
        width: 0.4rem;
        margin-top: -1rem;
        margin-left: -0.2rem;
    }

    body > header nav > button::after {
        height: 0.4rem;
        width: 2rem;
        margin-top: -0.2rem;
        margin-left: -1rem;
    }

    /* Theming opened main nav button */
    body > header nav.main-opened > button::before {
        -webkit-transform: rotate(90deg) translateX(-.4rem);
        -ms-transform: rotate(90deg) translateX(-.4rem);
        transform: rotate(90deg) translateX(-.4rem);
    }

    body > header nav.main-opened > button::after {
        -webkit-transform: translateY(.4rem);
        -ms-transform: translateY(.4rem);
        transform: translateY(.4rem);
    }

    /* Theming opened sub nav button */
    body > header nav.sub-opened > button::before {
        -webkit-transform: rotate(180deg) translateZ(0);
        -ms-transform: rotate(180deg) translateZ(0);
        transform: rotate(180deg) translateX(-.4rem);
    }

    body > header nav.sub-opened > button::after {
        -webkit-transform: rotate(90deg) translateY(.2rem);
        -ms-transform: rotate(90deg) translateY(.2rem);
        transform: rotate(90deg) translateY(.4rem);
    }
}
