{% extends 'CoreDefaultBundle::layout.html.twig' %}

{% block content %}
    <section id="default-projectlist">
        <h2>Projects list</h2>
        <ul>
            {% for project in projects %}
                <li class="icon-{{ project.class|default('no') }}"><a
                            href="{{ path(project.route_name) }}">{{ project.label }}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}