@media (max-width: 640px) {
    form[name=displayurl] label {
        display: block;
    }
}

#changedisplay_mode {
    display: inline-block;
    margin-left: 3rem;
}

#displayurl-result section.result {
    padding: 1rem;
    float: left;
}

#displayurl-result section.result iframe {
    border: 1px solid #aaaaaa;
    border-radius: 10px;
}


#displayurl-result iframe,
#displayurl-result.mobile iframe {
    width: 330px;
    height: 480px;
}

@media (max-width: 619px) {
    #displayurl-result [value=tablet],
    #displayurl-result [value=tablet] + label {
        display: none;
    }
}

@media (max-width: 767px) {
    #displayurl-result [value=tabletlandscape],
    #displayurl-result [value=tabletlandscape] + label {
        display: none;
    }
}

@media (max-width: 999px) {
    #displayurl-result [value=desktop],
    #displayurl-result [value=desktop] + label {
        display: none;
    }
}

@media (min-width: 620px) {
    #displayurl-result iframe,
    #displayurl-result.tablet iframe {
        width: 650px;
        height: 800px;
    }
}

@media (min-width: 768px) {
    #displayurl-result iframe,
    #displayurl-result.tabletlandscape iframe {
        width: 780px;
        height: 500px;
    }
}

@media (min-width: 1000px) {
    #displayurl-result iframe,
    #displayurl-result.desktop iframe {
        width: 1005px;
        height: 750px;
    }
}
