#logtracker section.results {
    margin: 1rem;
}

#logtracker section.results aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

#logtracker section.results aside .facet {
    flex: 0 1 auto;
    border: 1px solid grey;
    border-radius: 0.5rem;
    padding: 0 1rem;
    margin: 0 1rem;
}

#logtracker section.results aside .facet.innershow {
    background-color: lightblue;
}

#logtracker section.results aside .facet * {
    margin: 0;
    padding: 0;
}

#logtracker section.results aside .facet ul {
    position: absolute;
    list-style: none;
    font-size: 1.2rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: 0.5rem;
    margin-left: -1.1rem;
}

#logtracker section.results aside .facet a {
    display: block;
    text-decoration: none;
    padding: 0 0.5rem;
}
#logtracker section.results aside .facet a:hover {
    background-color: lightblue;
}

#logtracker article {
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    margin: 1rem 0;
}

#logtracker article label {
    margin: 0;
    font-weight: bold;
    width: 6rem;
}

@media (max-width: 640px) {
    #logtracker article label {
        display: block;
    }
}

#logtracker article label + div {
    display: inline-block;
    margin-left: 2rem;
}

@media (max-width: 640px) {
    #logtracker article label + div {
        display: block;
        margin-left: 2rem;
    }
}

#logtracker article.innershow {
    background-color: lightblue;
}