#logtrackerview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#logtrackerview header {
    display: flex;
    flex-direction: row;
    /*flex-wrap: nowrap;*/
    justify-content: space-between;
    /*align-items: stretch;*/
}

#logtrackerview header .formsearch input {
    max-width: none;
    width: 25rem;
}

#logtrackerview .fields {
    order: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

#logtrackerview .fields li.field {
    display: inline-block;
    flex: 0 1 auto;
    border: 1px solid grey;
    border-radius: 0.5rem;
    padding: 0 1rem;
    margin: 0 1rem;
    cursor: context-menu;
}

#logtrackerview .fields li.field.innershow {
    background-color: lightblue;
}

#logtrackerview .fields li.field * {
    margin: 0;
    padding: 0;
}

#logtrackerview .fields li.field > span {
    display: inline-block;
    width: 10rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#logtrackerview .fields li.field ul {
    position: absolute;
    list-style: none;
    font-size: 1.2rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: 0.5rem;
    margin-left: -1.1rem;
    display: none;
}

#logtrackerview .fields li.field.innershow ul {
    display: block;
}

#logtrackerview .fields li.field a {
    display: block;
    text-decoration: none;
    padding: 0 0.5rem;
}
#logtrackerview .fields li.field a[data-number]:after {
    content: "["attr(data-number)"]";
}

#logtrackerview .fields li.field a:hover {
    background-color: lightblue;
}

#logtrackerview .list {
    order: 1;
    flex: 1;
}

#logtrackerview .list span[data-field] {
    display: none;
}

#logtrackerview .list span[data-field=line] {
    display: inline-block;
}
