
.icon-success:before { content: '\e800'; } /* '' */
.icon-error:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-help:before { content: '\e804'; } /* '' */
.icon-info:before { content: '\e805'; } /* '' */
.icon-ez:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-ez-colorful:before { content: '\e808'; } /* '' */
.icon-tasks:before { content: '\e809'; } /* '' */
.icon-logo:before { content: '\e80a'; } /* '' */
.icon-pref:before { content: '\e80b'; } /* '' */
.icon-warning:before { content: '\e80c'; } /* '' */
.icon-mobile:before { content: '\e80d'; } /* '' */
.icon-tablet:before { content: '\e80e'; } /* '' */
.icon-laptop:before { content: '\e80f'; } /* '' */
.icon-desktop:before { content: '\e810'; } /* '' */
.icon-progress:before { content: '\e811'; } /* '' */
.icon-download:before { content: '\e812'; } /* '' */
.icon-upload:before { content: '\e813'; } /* '' */
.icon-trash:before { content: '\e814'; } /* '' */
.icon-camera:before { content: '\e815'; } /* '' */
.icon-home:before { content: '\e816'; } /* '' */
.icon-pref-alt:before { content: '\e817'; } /* '' */
.icon-minus-circle:before { content: '\e818'; } /* '' */
.icon-plus-circle:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-doc-text:before { content: '\e81b'; } /* '' */
.icon-chart-bar:before { content: '\e81c'; } /* '' */
.icon-chart-area:before { content: '\e81d'; } /* '' */
.icon-chart-pie:before { content: '\e81e'; } /* '' */