{% extends app.layouttheme %}

{% block head_css %}
    {{ parent() }}
    {% stylesheets
    'bundles/logtracker/css/results.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <section id="logtracker">
        <h2>Log Tracker</h2>
        {% if not results.success or results.numFound == 0 %}
            <div>No results</div>
        {% else %}
            <section id="logtracker-results">
                {% for result in results.results %}
                    <article>{% include 'LogTrackerBundle:List:result.html.twig' with {'result': result} only %}</article>
                {% endfor %}
            </section>

            <aside>
                <section id="logtracker-facets">
                    {% for name, values in results.facets if values|length > 0 %}
                        {% include 'LogTrackerBundle:List:facet.html.twig' with {'name': name, 'values': values} only %}
                    {% endfor %}
                </section>
            </aside>

            {% include 'CoreLayoutBundle:List:pager.html.twig' with {'founds': results.numFound, 'rows': results.numRows, 'start': results.numStart|default, 'page': page|default} only %}
        {% endif %}

        {{ dump(results) }}
    </section>
{% endblock %}

{% block foot_js %}
    {{ parent() }}
    <script>
        var nodes = document.querySelectorAll('article');
        Array.prototype.filter.call(nodes, function (node) {
            node.addEventListener('click', innertoggle, false);
        });
    </script>
{% endblock %}