{% extends 'RecetteDefaultBundle::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 'bundles/recettedefault/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <header>
        <h1>Suivi de recette</h1>
    </header>

    {% block content %}{% endblock %}

    <footer>

    </footer>
{% endblock %}