body.siteaccess-admin > header,
body.siteaccess-admin > footer {
    background-color: #ffffff;
    background-blend-mode: difference;
}

body.siteaccess-admin > header, body.siteaccess-admin > header a,
body.siteaccess-admin > header a:before {
    color: #000000;
}

body.siteaccess-admin > footer, body.siteaccess-admin > footer a,
body.siteaccess-admin > footer a:before {
    color: #000000;
}

body.siteaccess-admin > header nav > button:before,
body.siteaccess-admin > header nav > button:after {
    background-color: #000000;
}

body.siteaccess-admin > header nav > button {
    border-color: #000000;
}

@media (max-width: 640px) {
    body.siteaccess-admin > header nav ul {
        border-color: #000000;
        background-color: #ffffff;
        background-blend-mode: difference;
    }

    body.siteaccess-admin > header nav ul li {
        border-color: #000000;
    }
}

body .logo-admin {
    display: inline-block;
}

body .logo-admin a {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

body .logo-admin a:before {
    color: transparent;
    font-size: 1.5rem;
}

body .logo-admin a:hover:before {
    color: #ffffff;
}

body.siteaccess-admin .logo-admin a:before {
    color: transparent;
    font-size: 1.5rem;
}

body.siteaccess-admin .logo-admin a:hover:before {
    color: #000000;
}
