<ul class="tools">
    {% for tool in app.tools %}
        <li{% if app.tool == tool %} class="selected"{% endif %}>
            <a href="{{ path(tool.route) }}" class="{{ tool.class|default('icon-no') }}">{{ tool.label }}</a>
        </li>
    {% endfor %}
</ul>